.editor-container {
    display: flex;
  }
  
  .editor-left {
    flex: 3;
    position: relative;
    border: 1px solid #ccc;
    height: 100vh;
  }
  
  .canvas {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .editor-right {
    flex: 1;
    padding: 10px;
  }
  
  .canvas div {
    position: absolute;
    cursor: move;
  }
  